
@import url(https://fonts.googleapis.com/css?family=Libre+Franklin:300|Spectral:600,600i);


body {

	background-color: #000000;
	color: #ffffff;
	margin: 100px 75px 75px 100px;
	
}
	

.intro {
	font-family: 'Libre Franklin', sans-serif;
	font-weight: lighter;
	letter-spacing: 1.0;
	font-size: 1.6em;
	line-height: 1.8;	
	
}
.AuthRef {
	font-size: 1.4em;
	font-family: 'Spectral', serif;
	text-align: left;
	line-height: 1.6;
}
h6 {font-size: 0.7em;
	font-family: , serif;
	padding: 30%;
}





